.priceListWrapper {
  background-color: #fff;
  height: 100vhw;
  width: 376px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.collapsedMenuOpen {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
}

.collapsedMenuClose {
  display: none;
}

@media (max-width: 1350px) {
  .priceListWrapper {
    display: none;
  }
}
