.wrapper {
  padding: 120px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.question {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  display: inline-block;
  width: 1000px;
}

@media (max-width: 880px) {
  .wrapper {
    padding: 80px 40px 20px;
  }
}
