@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --orange-100: #FF8B37;
  --orange-80: #FFAC70;
  --orange-120: #E87928;

  --green-5: #E6FAEA;
  --orange-5: #FFF3EB;
  --red-5: #FDEEED;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
