@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --inactive-button: #FF8B37;
  --hover-button: #FFAC70;
  --pressed-button: #E87928;

  --correct-answer: #E6FAEA;
  --selected-answer: #FFF3EB;
  --wrong-asnwer: #FDEEED;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
